# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on: [ push ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: GitHub Action for pytest
        # You may pin to the exact commit or the version.
        # uses: cclauss/GitHub-Action-for-pytest@5863d02de95f37516a732802fa6257dfdf93e54c
        uses: cclauss/GitHub-Action-for-pytest@0.5.0
